body {
	font-family: "Century Gothic", "新細明體", Geneva, Tahoma, sans-serif;
}
ul {
	list-style-type: none;
}
li {
	cursor: pointer;
}
#nav li a {
	color: rgb(112, 110, 108);
	display: block;
	font-size: 25px;
	text-decoration: none;
}
#nav li a:hover {
	color: #333333;
	text-decoration: none;
}
#item li {
	color: rgb(112, 110, 108);
	text-align: center;
	margin-bottom: 12px;
	display: block;
	font-size: 20px;
}
#item li:hover {
	color: #333333;
	text-decoration: underline;
}